<!DOCTYPE html>
<html lang="en">
<head>
    
    <title> Application Submitted </title>
    {% include 'bootstrap.html' %}
    
</head>
<body>
    {% include 'nav.html' %}
    <br>
    {% include 'banner.html' %}

    <div class="container">    

        <h1 
            class="text-center mt-3 mb-4"> 
            Finisher Productions
        </h1>
        
        <p><b> Your application for "{{job['title']}}" has been submitted! </b></p>

        <b> Full Name </b>
        <div class="mb-2"> {{application['full_name']}} </div>

        <b> Email </b>
        <div class="mb-2"> {{application['email']}} </div>

        <b> Contact No. </b>
        <div class="mb-2"> {{application['contact_no']}} </div>

        <b> Address </b>
        <div class="mb-2"> {{application['address']}} </div>
        
        <b> Portfolio/Showreel Link </b>
        <div class="mb-2"> {{application['portfolio_link']}} </div>

        <b> Work Experience </b>
        <div class="mb-2"> {{application['work_experience']}} </div>   

        </div>
    
    {% include 'contactus.html' %}
    {% include 'footer.html' %}
</body>
</html>