<!DOCTYPE html>
<html lang="en">
<head>

    <title> {{job.title}} - Film Productions </title>
    {% include 'bootstrap.html' %}
    
</head>

<body>
    
    {% include 'nav.html' %}
    {% include 'banner2.html' %}

    <div class="container">    
        <h1 
            class="text-center mt-3 mb-4"> 
            Job Description 
        </h1>

        <h3 class="mb-1">
            {{job.title}} <span style="font-size: 0.7em; color: #212121;"> (Project Hire) </span>
        </h3>
        <p class="lead mt-0"> {{job.location}} </p>
        <h4> Responsibilties </h4>
        <ul>
            {% for line in job.responsibilites.split("\n") %}
                <li> {{line}} </li>
            {% endfor %}
        </ul>
        <h4> Requirements </h4>
        <ul>
            {% for line in job.requirements.split("\n") %}
                <li> {{line}} </li>
            {% endfor %}
        </ul>
        <h4> 
            Payment <span style="font-size: 0.7em; color: #212121;"> (Per Project) </span>
        </h4>
        <p> {{job.currency}} {{job.payment}} </p>

        <div>
            <a class="btn btn-primary btn-sm" href="/job/{{job['id']}}/apply"> Apply 
            </a>
        </div>
        <hr>
        
    {% include 'contactus.html' %}
    </div>
    
{% include 'footer.html' %}
</body>
</html>