<nav class="navbar shadow-sm fixed-top bg-white">
    <div class="container">
      <a class="navbar-brand" href="/">
        <!-- <img src="/static/banner.jpeg" alt="Finisher Productions" width="30" height="24"
        class="d-inline-block align-text-top"> -->
        Finisher Productions
      </a>

      <div class="d-flex gap-3 ms-auto">
        <a class="nav-link" href="/aboutus"> About us </a>
        <a class="nav-link" href="/#careers"> Carrers </a>
        <a class="nav-link" href="/getupdates"> Get Updates </a>
      </div>

    </div>
  </nav>

  <div style="height: 56px"></div>